<h2>Edit Facility</h2>
<form [formGroup]="facilityForm" (ngSubmit)="editFacility()" >
<div class="mb-3">
  <label  class="form-label">id</label>
  <input type="text" class="form-control"  formControlName="id" ngModel="{{facility.id}}" disabled>
</div>
  <div class="mb-3">
    <label  class="form-label">name</label>
    <input type="text" class="form-control"  formControlName="name" ngModel="{{facility.name}}" >
  </div>
  <div class="mb-3">
    <label  class="form-label">area</label>
    <input type="text" class="form-control"  formControlName="area" ngModel="{{facility.area}}" >
  </div>
  <div class="mb-3">
    <label  class="form-label">price</label>
    <input type="text" class="form-control"  formControlName="price" ngModel="{{facility.price}}" >
  </div>
  <div class="mb-3">
    <label  class="form-label">maxPeople</label>
    <input type="text" class="form-control"  formControlName="maxPeople" ngModel="{{facility.maxPeople}}" >
  </div>
  <div class="mb-3">
    <label  class="form-label">type</label>
    <input type="text" class="form-control"  formControlName="type" ngModel="{{facility.type}}" >
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">img</label>
    <input class="form-control" type="text" id="formFile" formControlName="img" ngModel="{{facility.img}}">
  </div>
  <div>
    <button type="submit" class="btn btn-warning">Submit</button>
  </div>
</form>
