<h2>Contact Create</h2>
<hr>
<form [formGroup]="contactForm" (ngSubmit)="addContact()">
  <div class="mb-3">
    <label class="form-label">id</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
           formControlName="id" name="id">
  </div>
  <div class="mb-3">
    <label class="form-label">customer</label>
    <select formControlName="customer" name="customer">
      <option *ngFor="let customer of customers" [ngValue]="customer">{{customer.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">service</label>
    <select formControlName="service" name="service">
      <option *ngFor="let service of facilitys" [ngValue]="service" >{{service.name}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label class="form-label">startDate</label>
    <input type="date" class="form-control" formControlName="startDate" name="startDate">
  </div>
  <div class="mb-3">
    <label class="form-label">endDate</label>
    <input type="date" class="form-control" formControlName="endDate" name="endDate">
  </div>
  <div class="mb-3">
    <label class="form-label">money</label>
    <input type="email" class="form-control" aria-describedby="emailHelp" formControlName="money" name="money">
  </div>
  <button type="submit"> Create contact</button>
</form>
