<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/createCategory}" method="post" th:object="${category}">
    <input th:field="*{nameCategory}"><br>
    <button type="submit">AddCategory</button>
</form>

<table>
    <tr th:each="lists :${categoryList}" th:object="${lists}">
        <td><a th:href="@{/showCategory/{id}(id=*{id})}" th:text="*{nameCategory}"></a></td>
        <td><button><a th:href="@{/deleteCategory/{id}(id=*{id})}">DeleteCategory</a></button></td>
    </tr>
</table>
</body>
</html>