<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}">Return</a><br>
<form method="post" th:action="@{/edit}" th:object="${Blog}">
    <input type="text" th:field="*{id}" hidden>
    <label>Title</label><br>
    <input type="text" th:field="*{title}"><br>
    <label>Content</label><br>
    <textarea type="text" th:field="*{content}"></textarea><br>
    <select th:field="*{category}" th:value="*{category.id}" hidden>
        <option th:value="*{category.id}" th:text="*{category.nameCategory}" hidden>
        </option>
    </select>
    <button type="submit">Edit</button>
    <button type="reset">Reset</button>
</form>
</body>
</html>