<h2>Contact </h2>
<button class="btn btn-warning" [routerLink]="['/contact/create']">Create</button>
<hr>
<table class="table table-striped">
  <thead class="table-dark">
  <tr>
    <td>id</td>
    <td>customer</td>
    <td>service</td>
    <td>startDate</td>
    <td>endDate</td>
    <td>money</td>
    <td>action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let contact of contacts">
    <td>{{contact.id}}</td>
    <td>{{contact.customer.name}}</td>
    <td>{{contact.service.name}}</td>
    <td>{{contact.startDate}}</td>
    <td>{{contact.endDate}}</td>
    <td>{{contact.money}}</td>
    <td>
      <button class="btn btn-primary" [routerLink]="['/contact/edit/',contact.id]">Edit</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="changeDeleteId(contact.id)">
        Delete
      </button>
    </td>
  </tr>
  </tbody>
</table>


<!-- Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete Customer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Delete this Contact ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="doDelete(deleteContactId)" data-bs-dismiss="modal">
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
