<h2>Create Facility</h2>
<form [formGroup]="facilityForm" (ngSubmit)="createFacility()" >
  <div class="mb-3">
    <label  class="form-label">id</label>
    <input type="text" class="form-control"  formControlName="id"  >
  </div>
  <div class="mb-3">
    <label  class="form-label">name</label>
    <input type="text" class="form-control"  formControlName="name"  >
  </div>
  <div class="mb-3">
    <label  class="form-label">area</label>
    <input type="text" class="form-control"  formControlName="area"  >
  </div>
  <div class="mb-3">
    <label  class="form-label">price</label>
    <input type="text" class="form-control"  formControlName="price"  >
  </div>
  <div class="mb-3">
    <label  class="form-label">maxPeople</label>
    <input type="text" class="form-control"  formControlName="maxPeople"  >
  </div>
  <div class="mb-3">
    <label  class="form-label">type</label>
    <input type="text" class="form-control"  formControlName="type"  >
  </div>
  <div class="mb-3">
    <label for="formFile" class="form-label">img</label>
    <input class="form-control" type="text" id="formFile" formControlName="img" >
  </div>
  <div>
    <button type="submit" class="btn btn-warning">Submit</button>
  </div>
</form>
