<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Script</th>
        <th>Producer</th>
        <th>Action</th>
    </tr>
    <tr th:each="product, iter: ${productList}" th:object="${product}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.script}"></td>
        <td th:text="${product.producer}"></td>
        <td><button><a th:href="@{/product/delete(id=*{id})}">Delete</a></button>
            <button><a th:href="@{/product/update(id=*{id})}">Update</a></button>
        </td>
    </tr>
</table>
<button><a th:href="@{/product/add}">Add</a></button>
<form method="get" th:action="@{/product/search}">
    <input type="text" name="search">
    <button type="submit" value="Search">Search</button>
</form>
</body>
</html>