<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Số lần truy cập trang web của bạn là <span th:text="${count}"></span></h2>
<a th:href="@{cart/Show-Cart}">Show your cart</a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    <tr th:each="product , iterStat:${listProduct}" th:object="${product}">
        <td th:text="*{name}"></td>
        <td th:text="*{price}"></td>
        <td ><a th:href="@{cart/addProduct/{id}(id=*{id})}">Add to cart</a> </td>
    </tr>
</table>
</body>
</html>